.add_todo_input {
  margin-top: 50px;
  background-color: inherit;
  width: 40%;
  border-radius: 2%;
  border: none;
  border-bottom: 2px solid rgb(225, 225, 225);
  vertical-align: bottom;
  transition: 0.4s all;
  font-size: 16px;
  padding: 15px 0px 3px 5px;
}

.add_todo_input::placeholder {
  color: rgb(205, 205, 205);
}

.add_todo_input:focus {
  outline: none;
  border-bottom: 2px solid rgb(51, 153, 204);
}