.list_container {
  width: 50%;
  background-color: white;
  margin: 0 auto;
  min-height: 400px;
}

.todo_list {
  list-style: none;
  text-align: left;
}

li {
  font-size: 16px;
  margin-top: 20px;
}